<HTML>
	<HEAD>
		<TITLE>Website overview</TITLE>
		<script src="/wtapp/javascript/jQuery.js"></script>
	</HEAD>
	<BODY BGCOLOR="FFFFFF">
		<h4> Logged in as: <%=login %>  </h4>
		Visitors active on website: <a href=/wtapp/visitor> <%=numOfVisitors %> </a> </br>
		Total number of pages viewed by active visitors: <a href=/wtapp/visitor> <%=totalNumberOfPages %></a> </br>
		Average time spent by active visitors on page:
		Browser types used by active visitors:
		Total number of countries for active visitors:
	</BODY>
</HTML>