<HTML>
	<HEAD>
		<TITLE>Web tracking registration form</TITLE>
		<script src="/wtapp/javascript/jQuery.js"></script>
	</HEAD>
	<BODY BGCOLOR="FFFFFF">
		Thank you for registration <%=login %>! You can now log in <a href="/wtapp/login">here</a>.
	</BODY>
</HTML>