<HTML>
	<HEAD>
		<TITLE>Pages details</TITLE>
		<script src="/wtapp/javascript/jQuery.js"></script>
	</HEAD>
	<BODY BGCOLOR="FFFFFF">
		<h4> Logged in as: <%=login %>  </h4>
		<H1>Pages being viewed right now:</H1>
		<%=test %>
	</BODY>
</HTML>